.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="text"] {
      width: 280px;
      height: 40px;
      border-radius: 25px;
      border: 0px;
      padding: 15px;
      background: #f4f7f9;
      outline: none;
      font-family: "Helvetica", FontAwesome, sans-serif;
    }

    & > * {
      margin-right: 30px;
    }

    span {
      align-items: center;
      position: relative;
    }

    i {
      margin-right: 4px;
    }
  }

  .cart_quantity {
    position: absolute;
    background: #0baa08;
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 50%;
    left: 8px;
    top: -13px
  }
}
