.home{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.productContianer {
  margin-inline:auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  width: 80vw;
}
