.sidebar{
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    gap: 20px;
    margin-top: 3rem;

    &__heading{
        font-weight: 700;
        margin-bottom: 10px !important;

        &_main{
            font-size: 18px;
            font-weight: 700;
        }
    }

    .flex{
        display: flex;
        flex-direction: column;
        justify-content: start;        
    }

    
}